<div class="content_height">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12 col-md-3">
    <p>
      
      <%= image_tag(@product.image_url, class: 'img-responsive') %>
    </p>
  </div>

  <div class="col-xs-12 col-md-3">
    <p>
      
      <h1><strong><%= @product.name %></strong></h1>
    </p>
    <p><h4>
      <strong>Color:</strong>
      <%= @product.colour %>
    </h4></p>
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
  
    <hr>
    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>
    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
    <br>
    <hr>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>
  
</div>

</div>