<p id="notice"><%= notice %></p>
<div class="container-fluid wrap">

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <% if @product.image_url == '' %>
        <p><%= image_tag('no_image.gif', class: 'img-responsive') %></p>
      <% else %>
        <p><%= image_tag(@product.image_url, class: 'img-responsive img-zoom', data_zoom_image: @product.image_url, width: '231', height: '202' ) %></p>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-3">
      <% cache @product do %>
      <p>
        <h1><strong><%= @product.name %></strong></h1>
      </p>
      <% end %>
      <p><h4>
        <strong>Color:</strong>
        <%= @product.colour %>
      </h4></p>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
  
      <hr>
      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
      <p>Average Rating: 
        <div id="average-rating" class="rated" data-score="<%= @product.average_rating %>"></div>
      </p>
      <br>
      <%= form_tag "/payments/create" do %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>

      <hr>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 product-show">
      <%= render partial:'new_comment' %>
    </div>
  </div>

  <div class="row">
    <%= will_paginate @comments %>
    <div class="col-xs-12 col-md-6 product-show">
      <%= render partial:'comments' %>    

    </div>
    
  </div>
</div>
